
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />


<autofac>
    <modules>
      <module type="Southwind.BusinessLogic.BLModule, Southwind.BusinessLogic" />
      <module type="Southwind.DataAccess.DAModule, Southwind.DataAccess" >
        <properties>
          <property name="ConnectionMode" value="Offline"/>
          <property name="ConnectionString" value="nw"/>
        </properties>
      </module>
      <module type="Southwind.Wpf.Categories.CatModule, Southwind.Wpf.Categories" />
    </modules>
  </autofac>